<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollX="true">
  <div class="ion-padding" *ngIf="!isLoaded">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <div
    *ngIf="isLoaded && !isFull"
    (click)="isFull = !isFull"
    class="photo-view"
    [style.background-image]="'url(' + src  + ')'"
  ></div>
  <div class="scrollx" *ngIf="isLoaded && isFull">
    <img (click)="isFull = !isFull" class="photo-full" [src]="src" />
  </div>
</ion-content>

<ion-footer *ngIf="isLoaded">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="share-social"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
