:host {
  ion-list {
    margin: 0;
    padding: 0;
    ion-item {
      ion-icon {
        margin-inline-end: 16px;
      }
    }
  }
  ion-footer {
    ion-button {
      margin:0;
      min-height:56px;
    }
  }
}
