
<ion-content>
  <div class="shadow-form ion-padding">
    <form>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-img [src]="'assets/logo.png'"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <div class="ion-padding ion-text-center">
              <ion-spinner size="large"></ion-spinner>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
